<div class="menu">
  <button class="menu-button" [routerLink]="['/home']">Home</button>
  <button class="menu-button" [routerLink]="['/search']">Search</button>
  <button *ngIf="!isAdmin" class="menu-button" [routerLink]="['/subscriptions']">
    Subscriptions
  </button>
  <button *ngIf="isAdmin" class="menu-button" [routerLink]="['/upload-movie']">
    Upload movie
  </button>
  <button *ngIf="isAdmin" class="menu-button" [routerLink]="['/upload-show']">
    Upload tv show
  </button>
</div>
<div class="update-container">
  <h1>Update Movie</h1>
  <form (ngSubmit)="onSubmit()" *ngIf="movie">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" [(ngModel)]="title" name="title" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        [(ngModel)]="description"
        name="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="actors">Actors</label>
      <input
        type="text"
        id="actors"
        [(ngModel)]="actors"
        name="actors"
        required
      />
    </div>
    <div class="form-group">
      <label for="directors">Directors</label>
      <input
        type="text"
        id="directors"
        [(ngModel)]="directors"
        name="directors"
        required
      />
    </div>
    <div class="form-group">
      <label for="genres">Genres</label>
      <input
        type="text"
        id="genres"
        [(ngModel)]="genres"
        name="genres"
        required
      />
    </div>
    <div class="form-group">
      <label for="thumbnailImage">Upload New Thumbnail Image (optional)</label>
      <input type="file" id="thumbnailImage" (change)="onImageChange($event)" />
    </div>
    <div class="form-group">
      <label for="fileContent">Upload New Video (optional)</label>
      <input type="file" id="fileContent" (change)="onFileChange($event)" />
    </div>
    <div class="button-container">
      <button class="submit-button" type="submit">Update</button>
      <button type="button" class="delete-button" (click)="onDelete()">
        Delete
      </button>
    </div>
  </form>
</div>
